*, *::before, *::after {
    box-sizing: border-box;
    font-family: cursive;
    font-weight: 700;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 184, 116);
}

.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc-grid > button {
    cursor: pointer;
    font-size: 1.5rem;
    border: 2px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

.calc-grid > button:hover {
    background-color: aqua;
}

.span-two {
    grid-column: span 2;
}

.output-screen {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;
}
.previ-operand {
    color: white;
    font-size: 1.5rem;
}

.current-opperend {
    color:  red;
}